<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Noto+Sans+Warang+Citi&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/index.css">
    <title>Best Games | Página Inicial</title>
</head>
<body>
    <section class = "hero">
        <video class="hero__background" autoplay loop muted>
            <source src = "video/bckgd.mov" type="video/mp4"/>
        </video>
        <div class="hero__foreground">
            <h1 class="main__title">Best Games</h1>
            <p class="hero__text">Seja muito bem-vindo à sua página <em>gamer</em> favorita! Aqui oferecemos uma lista dos melhores jogos para quem passa o tempo de lazer jogando um pouquinho (ou mais que um pouquinho)! Está preparado para mergulhar em histórias incríveis, conhecer os personagens mais fascinantes e enfrentar grandes desafios? Bom, clique no botão abaixo e descubra os jogos que consideramos ser os melhores de todos os tempos!</p>
            <a href="/games"><button class="hero__button">Consultar Lista</button></a>
        </div>
    </section>
</body>
</html>